@import url("./navbar.css");
@import url("./about.css");

:root {
  --primary-color: #3498db;
  --logo-color: #2c3e50;
  --text-color: #333;
  --text-secondary-color: #555;
  --bg-color: #f4f7f6;
  --bg-white: #ffffff;
  --border-color: #f0f0f0;

  --font-primary: "Baloo 2", sans-serif;

  --shadow-navbar: 0 0.2rem 1rem rgba(0, 0, 0, 0.05);
  --shadow-soft: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  --transition-main: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.6rem;
  padding-top: 6.4rem;
}
